<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div>
        <img src="../../../assets/APLogo.png" id="logoAP" alt="APLogo" class="left">
      </div>
      <a class="navbar-brand" href="#">Argentina Programa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <i class="fa-brands fa-facebook fa-2x" ngClass="icon"></i>
        <i class="fa-brands fa-instagram fa-2x" ngClass="icon"></i>
        <i class="fa-brands fa-github fa-2x" ngClass="icon"></i>
        <button type="button" class="btn btn-outline-info">Iniciar Sesion</button>
      </div>
    </div>
  </nav>
